  /* ul,
  li {
      list-style: none;
  }

  a {
      text-decoration: none;
  }

  nav a {
      display: flex;
  }

  aside {
      font-size: 1.5rem;
      transition: all 300ms ease-in-out;
  }

  nav {
      background: #333;
      color: #fff;
      height: 100%;
      width: 0;
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0.9;
      overflow-x: hidden;
      padding-top: 60px;
  }

  .opneSidebar {
      transition: 0.7s;
      width: 230px;
  }

  .slide-bar {
      position: absolute;
      right: 0;     
      z-index: 1;
      width: 78vw;
      background: #000;
      text-align: center
  }

  #close {
      font-size: 4.3rem;
      position: absolute;
      right: 2rem;
      top: 1rem;
  }

  .to-right {
      margin-left: 250px;
      transition: all 300ms ease-in-out;
  }

  .navlist {
      padding: 1rem 3rem;
      list-style-type: none;
  }

  .navlist li {
      margin: 1rem 0;
      transition: all 300ms ease-in-out;
  }

  .navlist li a {
      color: #fff;
      font-size: 2rem;
      transition: all 300ms ease-in-out;
  }

  .navlist li a:hover {
      color: #2748b4;
      padding: 0.3rem 0.2rem;
      border-bottom: #2748b4 2px solid;
      width: 50%;
  } */

  ul.navlist {
      list-style-type: none;
      padding-left: 0;
  }

  ul.navlist>li {
      padding: 7px;
      border-bottom: 1px solid #ffffffc4;
  }

  ul.navlist>li>a {
      color: #ffffffa3;
      font-size: 20px;
  }

  .slide-bar {
      position: absolute;
      right: 0;
      z-index: 1;
      width: 78vw;
      background: #000;
      text-align: center;
      font-family: monospace;
  }
