.pay-link {
    width: 100%;
    background: #FECC18;
    padding: 1%;
}

.left {
    float: left;
}

.left>p {
    color: #34373B;
}

.right {
    float: right;
    padding-top: 14px;
}

.pay-nav {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.right .pay-nav li {
    margin-right: 10px;
}

.pay-nav>li>a>img {
    height: 37px;
    width: 80px;
}

.footer-icon {
    color: #FECC18;
    ;
}

.car-height {
    height: 100% !important;
}

.width-100 {
    width: 100% !important;
}

.btn-booking {
    /* background-color: var(--e-global-color-accent) !important; */
    /* color: #ffff !important; */
    border-style: none !important;
}

.pad-top-10 {
    padding-top: 10px;
}

.mar-left-10 {
    margin-left: 10px;
}

.btn-WA {
    background-color: var(--e-global-color-accent) !important;
    color: #ffff !important;
    border-style: none !important;
}

.WA-icon {
    height: 60px;
    line-height: 80px;
    width: 60px;
    font-size: 2em;
    font-weight: bold;
    border-radius: 50%;

    color: white;
    text-align: center;
    cursor: pointer;
}

/* .elementor img {
    height: auto;
    max-width: 55%;
    border: none;
    border-radius: 0;
    box-shadow: none
} */